// 無駄なスクロールバーを非表示
.disable_scrollbar::-webkit-scrollbar {
    display: none;
}

// 受注取込履歴のリスト用
.order_import_history_list {
    width: 100%;
    height: calc(100vh - 120px);
}

// 受注管理のリスト用
.order_mgt_list {
    width: 100%;
    height: calc(100vh - 195px);
}

// 受注詳細のリスト用
.order_detail_list {
    width: 100%;
    height: calc(100vh - 300px);
}

// 出荷管理のリスト用
.shipping_mgt_list {
    width: 100%;
}

// 荷札ダウンロードのリスト用
.nifuda_download_list {
    width: 100%;
    height: calc(100vh - 115px);
}

// 出荷検品のリスト用
.shipping_inspection_list {
    width: 100%;
    height: calc(100vh - 265px);
}

// 出荷完了履歴のリスト用
.shipping_work_end_history_list {
    width: 100%;
    height: calc(100vh - 90px);
}

// 出荷履歴のリスト用
.shipping_history_list {
    width: 100%;
    height: calc(100vh - 120px);
}

// 商品のリスト用
.item_list {
    width: 100%;
    height: calc(100vh - 120px);
}

// 商品QR解析リスト用
.item_qr_analysis_history_list {
    width: 100%;
    height: calc(100vh - 350px);
}

// 在庫のリスト用
.stock_list {
    width: 100%;
    height: calc(100vh - 120px);
}

// 入庫検品のリスト用
.receiving_inspection_list {
    width: 100%;
    height: calc(100vh - 120px);
}

// 入力在庫数操作のリスト用
.input_stock_operation_list {
    width: 100%;
    height: calc(100vh - 120px);
}

// 在庫履歴のリスト用
.stock_history_list {
    width: 100%;
    height: calc(100vh - 120px);
}

// 出荷倉庫のリスト用
.shipping_base_list {
    width: 100%;
    height: calc(100vh - 160px);
}

// 自動処理のリスト用
.auto_process_list {
    width: 100%;
    height: calc(100vh - 120px);
}

// 倉庫のリスト用
.base_list {
    width: 100%;
    height: calc(100vh - 120px);
}

// ユーザーのリスト用
.user_list {
    width: 100%;
    height: calc(100vh - 70px);
}

// 操作ログのリスト用
.operation_log_list {
    width: 100%;
    height: calc(100vh - 120px);
}