/* 各カラムの幅 */
.item_location {
    width: 12%;
}

.item_jan_code {
    width: 18%;
}

.item_name {
    width: 50%;
}

.order_quantity {
    width: 10%;
}

.remaining_stock {
    width: 10%;
}

.order_no {
    width: 15%;
}

.ship_name {
    width: 25%;
}

.note_1 {
    width: 30%;
}

.note_2 {
    width: 30%;
}